<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyfervor.counter.dao.CountMapper">
    <select id="query" resultType="com.skyfervor.counter.model.entity.CountEntity">
		SELECT
		source,
		`key`,
		`count`
		FROM `count`
		WHERE
		source = #{source}
		AND `key` = #{key}
	</select>

    <insert id="insertOrUpdate" parameterType="com.skyfervor.counter.model.entity.CountEntity">
		INSERT INTO `count` (
			source,
			`key`,
			`count`
		) VALUES (
			#{source},
			#{key},
			#{count}
		)
		ON DUPLICATE KEY UPDATE
		`count` = VALUES(`count`)
	</insert>
</mapper>
